body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(227, 131, 29);
}

.categoria {
    margin-bottom: 50px;
}

.categoria h2 {
    color: rgb(79, 99, 7);
    margin-bottom: 20px;
    font-size: 24px;
    margin-left: 20px;
}

.filmes {
    display: flex;
    overflow-x: auto; /*PERMITE ROLAR HORIZONTALMENTE*/
    padding-bottom: 10px; /*PARA EFEITO DE ROLAGEM SEM CORTAR AS BORDAS*/
}

.filme {
    width: 250px;
    background-color: rgb(225, 185, 133);
    margin-right: 20px; /*ESPAÇAMENTO ENTRE OS FILMES*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(225, 185, 133);
    padding: 10px;
    text-align: center;
    flex-shrink: 0; /*IMPEDE QUE OS FILMES "ENCOLHAM"*/
    transition: transform 0.2s; /**ADICIONA UMA ANIMAÇÃO AO PASSAR O MOUSE*/
}

.filme:hover {
    transform: scale(1.05); /*EFEITO DE ZOOM AO PASSAR O MOUSE*/
}

.filme img{
    width: auto; /*AJUSTA A LARGURA DA IMAGEM AUTOMATICAMENTE*/
    height: 300px; /*DEFINE A ALTURA QUE PODEMOS COLOCAR NAS IMAGENS*/
    object-fit: cover; /*GARANTIR QUE A IMAGEM PREENCHA O ESPAÇO SEM DEFORMAR*/
}

.filme h3 {
    margin-top: 10px;
    font-size: 18px;
    color: brown;
}

.filme p {
    font-size: 14px;
    color: aliceblue;
    margin: 5px 0;
}