/* Estilos gerais para a página dos Sistema Bancário */
body{
    background-color: #d5b459; /*Cor do fundo da página*/

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*Definir fonte da página*/

    margin: 0; /*Remove a margem padrão*/
    padding: 20px; /*Adiciona um espaço interno (padding) na página*/

}

/*Estilos para container principal*/
.container{
    background-color: #a17819;
    border-radius: 50px; /*Cantos arredondados*/

    padding: 30px;
    /*Adicionar um espaço interno (padding) ao redor do conteúdo*/

    max-width: 400px;
    /*Define a largura máxima do container*/

    margin: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
    /*Adiciona sobra para destacar o container*/


}

/*Estilos para o título*/
h1{
    text-align: center; /*Centralizar o texto*/
    color: aliceblue; /*Cor do título*/
    -webkit-text-stroke: 0.6pt #000000;
}

/*Estilos para os inputs e botões*/
input{
    width: 40%; /*Faz o campo de entrada ocupar a largura disponível*/
    padding: 3px; /*Espaço interno ao redor do texto no campo*/
    margin: 6px 0; /*Adiciona um espaço de 5px acima e abaixo do campo*/
    border-radius: 5px; /*Arredondar os cantos do campo*/
    border: px solid #000000; /*Borda cinza clara*/
}

/*Estilos para os botões*/
.botao1{
    width: 40%;
    /*Faz o botão ocupar toda a largura disponível*/
    margin-left: 124px;
    /*Movimenta os botões da esquerda para direita ficando os botões embaixo do box para digitar valor*/
    padding: 2px;
    /*Espaço interno entre o texto e o redir di botão*/
    background-color: #404734;
    /*Cor de fundo do botão*/
    color: aliceblue;
    /*Cor do texto do botão*/
    border: none;
    /*Remova borda padrão*/
    border-radius: 5px;
    /*Arredonda os cantos do botão*/
    cursor: pointer;
    /*Muda o cursor para indicar que o botão é clicável*/
}
/*Efeito quando passar mouse em cima do botão*/
.botao1:hover{
    background-color: #4cbe72;
}

.botao2{
    width: 40%;
    /*Faz o botão ocupar toda a largura disponível*/
    margin-left: 124px;
    /*Movimenta os botões da esquerda para direita ficando os botões embaixo do box para digitar valor*/
    padding: 2px;
    /*Espaço interno entre o texto e o redir di botão*/
    background-color: #000000;
    /*Cor de fundo do botão*/
    color: aliceblue;
    /*Cor do texto do botão*/
    border: none;
    /*Remova borda padrão*/
    border-radius: 5px;
    /*Arredonda os cantos do botão*/
    cursor: pointer;
    /*Muda o cursor para indicar que o botão é clicável*/
}
/*Efeito quando passar mouse em cima do botão*/
.botao2:hover{
    background-color: #98392e;
}

/*Estilo para a área que exibe o saldo*/
.balance{
    text-align: right; /*Alinhamento do texto*/
    margin-top: 20px;
    font-size: larger; /*Aumenta o tamanho da fonte*/
}



